.divh1-home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color-h1);
	height: 95vh;
}

.divtodo-home {
	margin-top: 30px;
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
